
@media screen and (Max-width: 975px){

    html{
        margin:0;
        padding: 0;
        width: 100%;
    }
    .nav{
        margin :0;
    }
    .head_text{
        font-size:small;
        gap: 0.2rem;
    }

    #logo{
        width: 20%;
        height: 20%;
        background-size: 5rem;
        display: flex;
        align-items:left;
        
    }

    #getstarted{
        display: none;
    }
    .arrow{
        display: none;
    }
    .navitem{
        display: none;
    }

    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown button{
      background-color: rgb(255, 255, 255);
    }
    
    .dropbtn {
      color: black;
      border: none;
      cursor: pointer;
      padding: 10px;
    }
    
    .dropdown-content {
      background-color: #f1f1f1;
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 2;
      left:-110px
    }
    
    .dropdown-content a {
      color: #858A8F;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .head_text {
      display: flex;
      align-items: center;
    }
    
    .arrow {
      margin-left: auto;
    }
    .text1 {
        padding-top: 0.4rem;
        padding-right: 0;
        align-items: center; width: 100%;
        }
    .text2{
        font-weight: 300; 
        padding: top 0.5rem; 
        width: 100%;
        align-items: center;
    }
    .row{
        padding-left: 8vw;
        padding-right: 8vw;
        margin: 0;
        
    }
   .column{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card1, .card2{
      padding: 2rem;
      margin: 0;
      
    }
    .trial{
      width: 100%;
    }
    
        .card1 .cardtitle , .card2 .cardtitle{
        padding: 0;
        margin: 0;
        display: flex;
        padding-top: 1rem;
  
      } 
      .card1 .text , .card2 .text{
        padding: 0;
        padding-top: 1rem;
        width: auto;
        font-size: medium;
      }
      .card1 .para , .card2 .para{
     
        display: flex;
        align-items: center;
        padding: 0;
        font-size: medium;
      
      }
      .card1 .list, .card2 .list{
        padding-top: 1rem;
        list-style-image: none;
        font-size: medium;
        display: inline;
        padding: 0;
        padding-bottom: 1rem;
      } 
    .column2{
       padding-top:2rem;
       padding-left: 0;
       margin: 0;
       padding-right: 0;
       background-color: rgb(241, 241, 241);
       width: 100%;
       height: fit-content;
       padding-bottom: 2rem ;
       
    }
    .text1{
      font-size:2rem;
        margin:0.1rem;
        padding: 0;
        
    }
    .text2{
      font-size: 1rem;
      margin: 0;
    }
    .grid-container{
        margin: 0;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
        width: fit-content;
        height: fit-content;
      }
      footer{
        font-size: 0.55rem;
        line-height: 1rem;
        margin-bottom: 0;
        gap: 0;
        padding: 1rem;
    }
    .footers{
        padding-left: 1.5rem;
        margin-top: 0rem;
        justify-content: space-evenly;
        column-gap: 0rem;
    }
    .footers .footer1{
        flex: 0 1 20%;
    }
    footer .footer1 p{
        line-height: 0.8rem;
        text-wrap: wrap;
    }
    footer .footer1 p br{
        display: none;
    }
    .footers .footer1 img{
        width: 4.5rem;
    }
    .footers .footer .top{
        font-size: 0.65rem;
    }
    .footer2, .footer3, .footer4,.footer5{
        margin: 0 0.5rem;
    }
    .footer2 ul, .footer3 ul, .footer4 ul, .footer5 ul{
        font-size: 0.60rem;
        list-style: none;
        gap: 0.5rem;
    }
    .footer2 ul li, .footer3 ul li, .footer4 ul li, .footer5 ul li{
        line-height: 0.65rem;
    }
    .footer2,.footer3, .footer4, .footer5{
       margin-top: 0.8rem;
    }
    .footers .footer .social-media{
        gap: 0.4rem;
    }
    .footers .footer .social-media img{
        width: 1.1rem;
    }
    .copyright {
        margin: 1.5rem;
    }
    .block-scroll{
      overflow: hidden;
  }
    

}



@media screen and (min-width :975px ) and ( Max-width: 1170px ){
  .nav{
    margin: 0;
  }

  .column{
    margin: 0;
    padding: 0;
  }
  .row{
    margin: 0;
  }

  .card1{
    width: fit-content;
    margin-right: 0rem;
    padding: 1rem;
    margin-left: 2rem;
  }
.card2{
    width: fit-content;
   margin-right: 2rem;
   padding: 1rem;
   margin-left: 0rem;
   
  }
  .trial{
    margin: 0;
    width: 20rem;
    padding: 0;
   }
   .column2{
    height: fit-content;
   }
   .grid-container{
    margin: 1rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem;
    height: fit-content;
  }

} 

@media screen and (max-width:665px) {
  
  .grid-container{
    padding: 2rem;
    margin: 2rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6, 1fr);
    width: fit-content;
    height: fit-content;
  }
  .row{
    padding: 5rem;
  }
  .column{
    margin: 0;
    padding: 2rem;
  }
}

@media screen and (max-width:555px) {
  .text1{
  
    font-size: x-large;
  }
  .text2{
    padding-bottom: 0.5rem;
  }
  .row{
    padding-top: 0.5rem;
  }
    .trial{
      font-size:medium;
    }
    .grid-container{
      padding: 0;
    }
    .footer2 ul, .footer3 ul, .footer4 ul, .footer5 ul{
      padding: 0;
   }
}