
*{

 margin: 0;
 font-family: 'Inter';
}

html , body{
    padding-top: 1rem;
  
}

.nav {
    margin-left: 6rem; 
    margin-right: 6rem; 
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.navitem{
    gap :1.5rem; 
    display: flex;
}

.head_text{
    border-left: 0px; 
    margin-top: auto;
    color: #858A8F;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* margin-right: 15.5px; */
}
   
.arrow{
    width: auto;
    height: fit-content;
}
 
button{
   
    color:rgb(255, 255, 255);
    background-color:rgba(1, 118, 255, 1);
    border-radius: 0.5rem;
    border-style: hidden;
    font-size: 20px;
    font-weight: 600;
    
}

  .dropdown {
    display: none;
  }


.text1{
    padding-top: 7rem;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0px;
    text-align: center;
    color:  rgba(51, 51, 51, 1);
    padding-bottom: 1rem;
}

.text2{
    padding-top: 2rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    color:  rgba(133, 138, 143, 1);
    padding-bottom: 2.5rem;
}


.row{
    align-content: center;
    padding-top: 5% ;
    page-break-after: always;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 15rem ;
}

 .column{
    display: flex;
    gap:2rem;
    margin-left: 5rem;
    
} 


.card1 ,.card2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 0.5rem;
    border-style:solid;
    border-color: rgb(245, 244, 244);
    background-color: #ffffff; 
    padding: 3rem;
    width:100%;

}
.card1{
    margin-left: 5rem;
}
.card2{
    box-shadow: 0.2px 0px 20px 0px rgba(0, 0, 0, 0.2);
    margin-right: 5rem;
   
}

.card1 a , .card2 a{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    
}
.card1 li , .card2 li {
    height: fit-content;
    padding-bottom: 1rem; 
}

.cardtitle  { 
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}

#cardtitle2{
    border-bottom: 4px solid  rgba(245, 246, 250, 1);
    padding-top: 1rem;
    width: 100%;
    padding-bottom: 2rem;
}
.text{
    font-size: 20px;
    font-weight: 550;
    line-height: 24px;
    text-align: left;
    display:inline-flex;
    color: rgba(133, 138, 143, 1);
    width: 100%;
}

.para{
    font-size: 20px;
    font-weight: 550;
    line-height: 24px;
    text-align: right;
    display:inline-flex;
    color: rgba(133, 138, 143, 1);
}

.list  {
    list-style-type: none;
    color: rgba(133, 138, 143, 1);
    font-size: 25px;
    font-weight:500; 
    padding-top: 2rem;
}

.list p{
    display: inline;
    margin-top: 0;
    padding: 0;
   
}
.list img{
    display: inline;
    margin-top: 1rem;


}
.trial{
    font-size: large;
    width: 100%;
    color:rgb(255, 255, 255);
    background: rgba(229, 241, 255, 1);
    color: rgba(55, 125, 255, 1);
    border-radius: 0.5rem;
    border-style: hidden;
    height: 4rem;
    align-self: center;
    font-size: 25px;
    margin-top: 10px ;
    font-weight: bold;
    padding: 1rem;
}
.card2 .trial{
    color: #ffffff;
    background-color:rgba(55, 125, 255, 1) ;
}


.column2{
    clear:both;
    background-color: rgb(241, 241, 241);
    image-orientation: inherit;
    margin-top: 5 rem;; 
    width: 100%; 
    margin:  0;
    height: 1056px;
    padding-top: 7%;
   
}
.grid-container{
    margin: 8rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
  
    
 }

.grid-container  >div {
    background-color: rgba(255, 255, 255, 1);
    margin:10px;
    padding:20px;
    border-radius: 0.5rem;
    box-sizing: content-box;
    justify-items: center;
    height: 225px;
    width: auto;
    height: auto;

}
.column2 .grid-container .box h1{

    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color:  rgba(51, 51, 51, 1);
  
}

.column2 .grid-container .box p{

    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(133, 138, 143, 1);

}

footer{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    color: #858a8f;
    margin-bottom: 3rem;
 }
.footers{
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footers .footer1 img{
    width: 7.2rem;
}
.footers .footer1 p{
    margin-top: 0.65rem;
    margin-bottom: 1.4rem;
    line-height: 1.45rem;
}
.footers .footer .social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footers .footer .social-media img{
    width: 2.15rem;
    margin-top: 0;
}
.footers .footer .top{
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}
.footer2,.footer3, .footer4, .footer5{
    margin: 1.2rem;
}
 .footer2 ul, .footer3 ul, .footer4 ul, .footer5 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    gap: 1.5rem;
    
 }
 .footer2 ul li, .footer3 ul li, .footer4 ul li, .footer5 ul li{
    line-height: 0.25rem;
    list-style: none;
    
 }
 .footer2 ul li a, .footer3 ul li a, .footer4 ul li a, .footer5 ul li a{
   color: #858a8f;
   list-style: none;
 }

 
 .copyright{
    display: flex;
    justify-content: flex-start;
    margin-left: 6rem;
 }
